$white: #ffffff;
$black: #000000;

// Grays
$grey-50: #FAFAF9;
$grey-100: #F5F5F4;
$grey-200: #E7E5E4;
$grey-300: #D6D3D1;
$grey-400: #A8A29E;
$grey-500: #78716C;
$grey-600: #57534E;
$grey-700: #44403C;
$grey-800: #292524;
$grey-900: #1C1917;
$grey-950: #0C0A09;


// Brand colors
$navy: #002855;
$orange: #FE5F03;
$medium-gray: #A8A8A8;
