@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Readex+Pro:wght@160..700&display=swap');

:root {
    --accent-font: "Anton SC", serif;
    --main-font: "Readex Pro", serif;
    --font-default: ;
}

$accent-font: "Anton SC", serif;
$main-font: "Readex Pro", serif;

