$text-2xs: 0.6rem;
$text-xs: 0.75rem;
$lh-xs: 1rem;
$text-sm: 0.875rem;
$lh-sm: 1.25rem;
$text-base: 1rem;
$lh-base: 1.5rem;
$text-lg: 1.125rem;
$lh-lg: 1.75rem; // This should be $lh-lg
$text-xl: 1.25rem;
$lh-xl: 1.75rem;
$text-2xl: 1.5rem;
$lh-2xl: 2rem;
$text-3xl: 1.875rem;
$lh-3xl: 2.25rem;
$text-4xl: 2.25rem;
$lh-4xl: 2.5rem;
$text-5xl: 3rem;
$text-6xl: 4rem;
