@use "../colors";
@use "../sizing";
@use "../fonts";
@use "../typography";
section.experience {
background: url("../../../public/dark_plaid.jpg") 400px/400px  repeat;
position: relative;
display: grid;
gap: sizing.$s-6;
grid-template-columns: repeat(5, 1fr);
padding: sizing.$s-6 sizing.$s-6;

@media (min-width: 800px){
	grid-template-columns: 1fr repeat(11, 1fr);
	padding: sizing.$s-6 0;
}

h2 {
	grid-column: 1/-1;
	@media (min-width: 800px){
	grid-column: 2/13;
	}
}
div.items {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: sizing.$s-6;
	@media (min-width: 800px){
	grid-column: 2/12;
	grid-template-columns: repeat(10, 1fr);
	}
}
article {
	background: colors.$navy;
	color: #fff;
	grid-column: span 5;
	padding: sizing.$s-6 sizing.$s-6 sizing.$s-24 sizing.$s-6;
	position: relative;
	p {
		font-size: typography.$text-xl;
		line-height: typography.$lh-xl;
		margin-right: sizing.$s-24;

		a {
			color: colors.$orange;
		}
	}
	img {
		width: sizing.$s-24;
		height: sizing.$s-24;
		border-radius: 1000px;
		position: absolute;
		object-fit: cover;
		bottom: 0;
		right: 0;
		margin-right: sizing.$s-6;
		margin-bottom: sizing.$s-6;
		border: 1px solid colors.$medium-gray;
	}
}



}


